html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.split-left {
  flex-direction: column;
  min-height: 100vh;
}

.split-right {
  height: 100vh;
}

.nav-link.active {
  transform: translateX(10px);
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 992px) {
  .split-left {
    height: auto;
    max-height: none;
    position: fixed;
    width: calc(50% - 1rem);
    max-width: 540px;
  }

  .split-right {
    margin-left: 50%;
  }

  .header-responsive {
    opacity: 0%;
  }
}

@media (max-width: 991.98px) {
  .split-left {
    position: relative;
    width: 100%;
    min-height: 0;
  }

  .header-responsive {
    opacity: 100%;
  }
}

.active {
  font-weight: 800;
  color: #fff;
}

.custom-cursor {
  color: #fff;
  cursor: url(./images/fortnite.png), auto;
  /* cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' ...") 16 16, pointer; */
}

a {
  color: #fff;
  text-decoration: none;
}

h4 {
  color: #fff;
}
